include ./components/textField/textField.pug
include ./components/dropdown/dropdown.pug
include ./components/maskedTextField/maskedTextField.pug
include ./components/dateDropdown/dateDropdown.pug
include ./components/filterDateDropdown/filterDateDropdown.pug
include ./components/subTextField/subTextField.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Form elements"
  body 
    .page
      include ../ColorNtype/logo/logo.pug
      .textFieldsNdrops
        //- +textField("Text field", "Default","Email")
        //- +textField("Text field", "Hover / Focus","Email")(value="This is pretty awesome")
        //- +dropdown("Dropdown", "Default","Сколько гостей")
        //- +maskedTextField("Masked text field", "Default")
        //- .dropDownGroup
        //-   +dateDropdown("Date dropdown")
        //-   +dateDropdown("Date dropdown")(value="19.08.2019")
        //- +filterDateDropdown("Filter date dropdown")(value="19 авг - 23 авг")
        +subTextField("Subscription text field", "Email")