include ./components/textField/textField.pug
include ./components/dropdown/dropdown.pug

html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Form elements"
  body 
    .page
      include ../ColorNtype/logo/logo.pug
      .textFieldsNdrops
        //+textField("Text field", "Default","Email")
        //+textField("Text field", "Hover / Focus","Email")(value="This is pretty awesome")
        +dropdown("Dropdown", "Default","Сколько гостей")