

html(lang="ru")
  head
    meta(charset="utf-8")
    title= "ColorsAndType"
    style
        include ./public/ColorNtype.css
  body
      .page
        include ./logo/logo.pug
        include ./colors/colors.pug
        include ./text-types/text-types.pug