mixin rateButton()
    .rateButton
        fieldset.rateButton__starsGroup.material-icons
            input.rateButton__toggle(type="radio" value="5" id="star5")
            label.rateButton__star
            input.rateButton__toggle(type="radio" value="4" id="star4")
            label.rateButton__star
            input.rateButton__toggle(type="radio" value="3" id="star3")
            label.rateButton__star
            input.rateButton__toggle(type="radio" value="2" id="star2")
            label.rateButton__star
            input.rateButton__toggle(type="radio" value="1" id="star1")
            label.rateButton__star